[submodule "exllamav2"]
	path = exllamav2
	url = https://github.com/turboderp/exllamav2
[submodule "exllama"]
	path = exllama
	url = https://github.com/turboderp/exllama
[submodule "guidance"]
	path = guidance
	url = https://github.com/zumalabs/guidance
